In [ ]:
#List

In [2]:
l=[1,2,3,"hi"]
print(l[3])

hi

In [1]:
#String to list type conversion
s='Prasanna Amarapalli'
l=list(s)
print(type(s),type(l))
print(l)

<class 'str'> <class 'list'>
['P', 'r', 'a', 's', 'a', 'n', 'n', 'a', ' ', 'A', 'm', 'a', 'r', 'a', 'p', 'a', 'l', 'l', 'i']

In [12]:
#reading list of integers
lst=list(map(int, input().split()))
print(lst)

 1 2 3  4

[1, 2, 3, 4]

In [13]:
#reading list of string  integers
lst=list(map(str, input().split()))
print(lst)

 1 2 3 sudha

['1', '2', '3', 'sudha']

# List Concatination

In [2]:

l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [3]:

l1=[1,2,3]
l2=[45]
print(l1+l2)

[1, 2, 3, 45]

# List repeatation using '*'

In [8]:
l1=[1,2,3,4]
print(l1*4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## List methods
- append(value)-it add the single value at the end of list
- extend(iterable)-it add the iterable values at the end of list
- insert(position,value)-add the position at specific position and followed values are right shifted
- index(value)-returns the first position of value,otherwise ValueError
- remove(value)-it removes value at first occurance position
- pop()=returns and remove the pop value asper specific position,otherwise pops thelast value
- clear()-removes all the values from list
- del=removes the list
- count(value)-returns the total occurance of the value in the list
- len(list_name)=total elements in the list or length of list
- min(list_name)-retuens the min value from the list
- max(list_name)-returns the max value of list
- sum(list_name)-sums all the elements in the list

In [13]:
####Append
l=[1,2,3,4.5,'a','d',2,4]
l.append(100)
print('After append operation: ,l)

After append operation: [1, 2, 3, 4.5, 'a', 'd', 2, 4, 100]

In [15]:
####Append
l=[1,2,3,4.5,'a','d',2,4]
l.extend([200,100])
print('After extend operation:' ,l)

After extend operation: [1, 2, 3, 4.5, 'a', 'd', 2, 4, 200, 100]

In [24]:
####Insert
l=[1,2,3,4.5,'a','d',2,4]
l.insert(4,'codegnan')
print('After insert operation:' ,l)

After insert operation: [1, 2, 3, 4.5, 'codegnan', 'a', 'd', 2, 4]

In [32]:
##remove(),pop(),clear(),del
a=[1, 2, 3, 4.5, 'codegnan', 'a', 2, 4]
print("original List:",a)
a.remove(2)
print("After remove operation:",l)

original List: [1, 2, 3, 4.5, 'codegnan', 'a', 2, 4]
After remove operation: [1, 2, 3, 'd', 2]

In [28]:
l.pop(3)

After pop operation: [1, 2, 3, 'd', 2]

# Min,#Max,#Sum

In [35]:
a=[1,3,5,34,78]
min_val=min(a)
max_val=max(a)
sum_list=sum(a)
print("Min value is:",min_val)
print("Max value is:",max_val)
print("Sum of the list:",sum_list)

Min value is: 1
Max value is: 78
Sum of the list: 121

In [38]:
#reverse()-reverses the original list 
a=[1,3,5,34,78]
a.reverse()
print(a)

[78, 34, 5, 3, 1]

In [42]:
#sort()-it sorts the original list in particular order
#ascending order sort
a=[1,3,5,34,78]
a.sort()

print(a)

[1, 3, 5, 34, 78]

In [44]:
#descending order sort
a.sort(reverse=True)
print(a)

[78, 34, 5, 3, 1]

In [50]:
# Sorted()-it sort the list in particular order and it returns new sorted list of values
b=[1,2,4,10,9,12]
a=b.sort()
print(b)
new_list=sorted(b)
print(new_list)

[1, 2, 4, 9, 10, 12]
[1, 2, 4, 9, 10, 12]

In [ ]:
##count(value),index(value)

l=[1,2,3,10,19,200,23,3,2]

In [2]:
#len(list_name)
lst=[1,3,7,8,23,45]
length=len(lst)
print(length)

6

In [3]:
# list length with nested list
lst=[1,3,[7,8],23,45]
length=len(lst)
print(length)

5