# Types of Output Formatting
- Using old style formatting [using commas]
- using modulo operator
- using F-format method
- using Dot Format method

In [2]:
#Using old style formatting [using commas]
name='siva'
age=25
email='siva@email'
#Name:siva age:25 email:siva@email
print('Name:',name,'age:',age,'email:',email)

Name: siva age: 25 email: siva@email

# Using modulo operator
# format specifiers
- %d-integers
- %d-float
- %s-string

In [4]:
#using modulo operator
name='siva'
age=25
email='siva@email'
print('Name is %s,age is %d and email is %s'%(name,age,email))

Name is siva,age is 25 and email is siva@email

In [8]:
# multiple values
name,age,email="prasanna",21,"prasanna@gmail"
print('Name is %s,age is %d and email is %s'%(name,age,email))

Name is prasanna,age is 21 and email is prasanna@gmail

In [9]:
#using F-format method
name="prasanna"
value=21.89
email="prasanna@gmail"
print(f"name is {name},val is {value},and email is {email}")

name is prasanna,val is 21.89,and email is prasanna@gmail

In [12]:
# particular number of decimal values in float datatype
name="prasanna"
value=21.89
email="prasanna@gmail"
print(f"name is {name},val is {value:.2f},and email is {email}")

name is prasanna,val is 21.89,and email is prasanna@gmail

In [16]:
#using Dot format
name="prasanna"
value=21.89
email="prasanna@gmail"
print("Name is {},age is {} and email is {}".format(name,age,email))

Name is prasanna,age is 21 and email is prasanna@gmail