# Tuple
- it is oedered collection of different data type elements
- it is defined with '()'
- it is immutable
- it is Index based & Slicable
- tuple is hetrogeneous data type
- it allows duplicate values

In [ ]:
#example
t=(1,2,3,'a','h','prasanna',[4,5,6],3.8)

In [4]:
# immutable
t=(1,2,3,'a','h','prasanna',[4,5,6],3.8)
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [18]:
#index based
t=(1,2,3,'a','h','prasanna',[4,5,6], 7,1,3.8)
print(t[4])
print(t[-4])
print(t[2:-3:1])#slicing syntax-start:end:stepcount
print(t[-2:6:1])
print(t[-2:6:-1])
print(t[4:100])
print(t[-4:8:1])

h
[4, 5, 6]
(3, 'a', 'h', 'prasanna', [4, 5, 6])
()
(1, 7)
('h', 'prasanna', [4, 5, 6], 7, 1, 3.8)
([4, 5, 6], 7)

In [19]:
#empty tuple
t1=()
t2=tuple()
#tuple with multiple values
t3=(1,2,3,"codegnan")
#tuple with single value
t4=(56,)
print(type(t1),type(t2),type(t3),type(t4))

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>

In [20]:
#read input from user
t=tuple(map(int,input().split()))
print(t)

 20

(20,)

In [21]:
#tuple concatination
t1=(1,2,'hello')
t2=(3,4,'bye')
t3=t1+t2
print(t3)

(1, 2, 'hello', 3, 4, 'bye')

In [22]:
#tuple repeat using'*'
t1=(1,2,'prasanna')
print(t1*6)

(1, 2, 'prasanna', 1, 2, 'prasanna', 1, 2, 'prasanna', 1, 2, 'prasanna', 1, 2, 'prasanna', 1, 2, 'prasanna')

# Tuple methods
- index(value)- returns the position of the value in the tuple otherwise **ValueError**
- count(value)-returns total occurances of a value in the tuple

In [26]:
t=(1,2,3,'a','h','prasanna',[4,5,6],7,1,3.8,2,2,2)
ind=t.index(1)
count_1=t.count(1)
print(ind)
print(count_1)

0
2

In [27]:
#build in functions
#min(),max(),sum(),len()
t=(1,23,54,90,56,45)
min_val=min(t)
max_val=max(t)
sum_tuple=sum(t)
length=len(t)
print(min_val,max_val,sum_tuple,length)

1 90 269 6

In [30]:
#sorted()-when performed sorted operation the return type will be in list
t=(1,23,54,90,56,45)
n_t=sorted(t,reverse=False)
print(n_t)

[1, 23, 45, 54, 56, 90]